<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
    <style>
        @media print {
      .noPrint{
        display:none;
      }
    }
        body{
    background:#eee;
}

.card{
    border:none;

    position:relative;
    overflow:hidden;
    border-radius:8px;
    cursor:pointer;
}

.card:before{
    
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:4px;
    height:100%;
    background-color:#E1BEE7;
    transform:scaleY(1);
    transition:all 0.5s;
    transform-origin: bottom
}

.card:after{
    
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:4px;
    height:100%;
    background-color:#8E24AA;
    transform:scaleY(0);
    transition:all 0.5s;
    transform-origin: bottom
}

.card:hover::after{
    transform:scaleY(1);
}


.fonts{
    font-size:11px;
}

.social-list{
    display:flex;
    list-style:none;
    justify-content:center;
    padding:0;
}

.social-list li{
    padding:10px;
    color:#8E24AA;
    font-size:19px;
}


.buttons button:nth-child(1){
       border:1px solid #8E24AA !important;
       color:#8E24AA;
       height:40px;
}

.buttons button:nth-child(1):hover{
       border:1px solid #8E24AA !important;
       color:#fff;
       height:40px;
       background-color:#8E24AA;
}

.buttons button:nth-child(2){
       border:1px solid #8E24AA !important;
       background-color:#8E24AA;
       color:#fff;
        height:40px;
}
    </style>
</head>
<body>
    <div class="container mt-5">
    
        <div class="row d-flex justify-content-center">
            
            <div class="col-md-7">
                
                <div class="card p-3 py-4">
                    
                    <div class="text-center">
                        <img src="https://i.pinimg.com/564x/a0/49/97/a04997feb7da2c6ee1426c6f410b3c65.jpg" width="100" class="rounded-circle">
                    </div>
                    
                    <div class="text-center mt-3">
                        <span class="bg-secondary p-1 px-4 rounded text-white"><%= user.gender === 1 ? 'man' : 'woman'%></span>
                        <h5 class="mt-2 mb-0"><%=`${user.firstName} ${user.lastName}`%></h5>
                        <span>Staff</span>
                        
                        <div class="px-4 mt-1">
                            <h4>Hệ số lương: <%= user.username === 'admin' ? '2' : '1'%></h4>
                        </div>
                            <div class="px-4 mt-1">
                                <h4>Số ngày nghỉ: <%= user.offdays%> days</h4>
                            </div>
                            <div class="px-4 mt-1">
                                <h4>Số ngày làm: <%= user.workdays%> days</h4>
                            </div>
                            <div class="px-4 mt-1">
                                <h4>Thiệt hại: <%= user.damage%> VNĐ</h4>
                            </div>
                            <div class="px-4 mt-1">
                                <h4>Lương thưởng: <%= user.bonus%> VNĐ</h4>
                            </div>
                            <div class="px-4 mt-1">
                                <h4>Tổng lương tháng: <%= user.workdays*8*24000 + user.bonus - user.damage%> VNĐ</h4>
                            </div>
                        
                        <div class="buttons">
                            
                            <button class="btn btn-outline-primary px-4 noPrint" onclick="window.location.href = '/homepage'">Back</button>
                            <button class="btn btn-primary px-4 ms-3 noPrint" onclick="window.print()">Print</button>
                        </div>
                        
                        
                    </div>
                    
                   
                    
                    
                </div>
                
            </div>
            
        </div>
        
    </div>
</body>
</html>